<!DOCTYPE html>
<html>
<head>
    <title>Chat with GPT-3</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/views/app.css">
</head>
<body>
    <div id="chatbox">
        <p class="botText"><span>Bot: </span>Hola! ¿Cómo puedo ayudarte hoy?</p>
    </div>
    <div id="userInput">
        <input id="textInput" type="text" name="msg" placeholder="Type here...">
        <input id="buttonInput" type="submit" value="Send">
    </div>

    <script>
        function getBotResponse() {
            var rawText = $("#textInput").val();
            var userHtml = '<p class="userText"><span>You: </span>' + rawText + '</p>';
            $("#textInput").val("");
            $("#chatbox").append(userHtml);
            document.getElementById('userInput').scrollIntoView({block: 'start', behavior: 'smooth'});
            $.get("/get", { msg: rawText }).done(function(data) {
              var botHtml = '<p class="botText"><span>Bot: </span>' + data + '</p>';
              $("#chatbox").append(botHtml);
              document.getElementById('userInput').scrollIntoView({block: 'start', behavior: 'smooth'});
            });
        }
        $("#textInput").keypress(function(e) {
            if(e.which == 13) {
                getBotResponse();
            }
        });
        $("#buttonInput").click(function() {
            getBotResponse();
        })
    </script>
</body>
</html>
